logs/
.logs/

certs/
.certs/

bin/

__pycache__
app/__pycache__
config/__pycache__
screens/__pycache__
utils/__pycache__

secrets.json
.secrets.json
secrets2.json

config.toml
.config.toml

prompt.md
main.spec

build/
dist/
main.dist/
main.build/
main.onefile-build/
main.bin

rathole
rathole.exe
rathole.log
.rathole.log

prompter.py
